/demo/obj
/demo/bin
/ImgBinEg/bin
/ImgBinEg/obj
/.vs
/debug
/demo-build/*.pdb
/demo-build/1_ok.bmp
/demo-build/11_filter.bmp
/demo-build/11_ok.bmp
/demo-build/12_filter.bmp
/demo-build/12_ok.bmp
/demo-build/13_filter.bmp
/demo-build/13_ok.bmp
/demo-build/14_filter.bmp
/demo-build/14_ok.bmp
/demo-build/1_filter.bmp
/demo-build/19_ok.bmp
/demo-build/15_filter.bmp
/demo-build/15_ok.bmp
/demo-build/16_filter.bmp
/demo-build/16_ok.bmp
/demo-build/17_filter.bmp
/demo-build/17_ok.bmp
/demo-build/18_filter.bmp
/demo-build/18_ok.bmp
/demo-build/19_filter.bmp
/Face detection (Viola-Jones)/bin
/Face detection (Viola-Jones)/obj
/FaceDetection/bin
/FaceDetection/obj
/Emgu.CV.Test/bin
/Emgu.CV.Test/obj
/Emgu.CV-build/Emgu.CV.Test.pdb
/Emgu.CV-build/Emgu.CV.UI.xml
/Emgu.CV-build/Emgu.CV.World.xml
/Emgu.CV-build/ZedGraph.xml
/LicensePlateRecognition/bin
/LicensePlateRecognition/obj
/Emgu.CV.HelloWorld/bin
/Emgu.CV.HelloWorld/obj
/packages
/ShapeDetection/bin
/ShapeDetection/obj
/MotionDetection/bin
/MotionDetection/obj
/OCR/bin
/OCR/obj
/ConvertBitmapToPix/obj
/ConvertBitmapToPix/bin
/Test_Tesseract_3.0.1_net2/bin
/Test_Tesseract_3.0.1_net2/obj
/Test_Tesseract_3.0.1_net2_build
/Tesseract_AForge.NET_Captcha/RecogCaptcha/RecogCaptcha/obj
/Tesseract_AForge.NET_Captcha/RecogCaptcha/RecogCaptcha/bin
/Tesseract_AForge.NET_Captcha/RecogCaptcha/packages
/_build
/Accord.Net/Deep Belief Networks and Boltzmann Machines/.vs
/Accord.Net/Deep Belief Networks and Boltzmann Machines/Neuro/Deep Learning/obj
/Accord.Net/Deep Belief Networks and Boltzmann Machines/Neuro/Deep Learning/bin
/Accord.Net/Deep Belief Networks and Boltzmann Machines/packages
/Accord.Net/Gestures (Dynamic Time Warping SVMs)/Gestures (SVMs)/obj
/Accord.Net/Gestures (Dynamic Time Warping SVMs)/Gestures (SVMs)/bin
/Accord.Net/src/.vs
/Accord.Net/src/Accord.Math/obj
/Accord.Net/src/Accord.Math/bin
/Accord.Net/src/Accord.Statistics/bin
/Accord.Net/src/Accord.Statistics/obj
/Accord.Net/src/Accord.Statistics.Controls/bin
/Accord.Net/src/Accord.Statistics.Controls/obj
/Accord.Net/Accord Handwriting/.vs
/Accord.Net/Accord Handwriting/Samples/Statistics/Handwriting/bin
/Accord.Net/Accord Handwriting/Samples/Statistics/Handwriting/obj
/Accord.Net/Accord Handwriting/Samples/Statistics/Handwriting/.vs
/Accord.Net/Accord Handwriting/Accord.Math/bin
/Accord.Net/Accord Handwriting/Accord.Math/obj
/Accord.Net/Accord Handwriting/Accord.Statistics/obj
/Accord.Net/Accord Handwriting/Accord.Statistics/bin
/Accord.Net/Accord Handwriting/Accord.Statistics.Controls/bin
/Accord.Net/Accord Handwriting/Accord.Statistics.Controls/obj
/Captcha-Solver/Captcha-Solver-Gui/obj
/Captcha-Solver/Captcha-Solver-Gui/bin
/Captcha-Solver/Captcha-Solver-Lib/obj
/Captcha-Solver/Captcha-Solver-Lib/bin
/ImageOcrExplorer/bin
/ImageOcrExplorer/obj
